/*
 *
 *
 *
 */



body {
	/*width: 100%;*/
	/*height: 100%;*/
	padding: 30pt;
	overflow-x: hidden;
}


.sheet {

	background-color: #BCECE8;
	padding: 18pt;
	box-shadow: 10pt 10pt 5pt #888888;

	/*width: 70%;*/
	margin-left: auto;
	margin-top:  auto;

	/*height: 70%;*/
	/*position: relative;*/
}


.verticalCell {
	
	padding: 18pt;
	width: 100%;
	height: 100%;

}


.highlight {
	
	background-color: #71D3F8;
	-webkit-transition: background-color 0.5s;
	/*border: 3pt dashed #9640CC;*/

}


.entry {

}